.mainText {
    color: white;
}

.header {
    font-family: Titan One, sans-serif;
}

.topRightButton {
    width: 180px;
    height: 90%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--primary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: transform 0.2s;

    /* &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }

    &>i {
        font-size: 4.25rem;
    }

    &>div,
    a {
        margin-top: 20px;
        font-size: 1.4rem;
        text-align: center;
    } */
}

.topRightButton:hover {
    transform: scale(0.95);
}

.topRightButton:active {
    transform: scale(0.9);
}

.topRightButton>i {
    font-size: 4.25rem;
}

.topRightButton>div, a {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
}

.section {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
    border-radius: 7px;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #00000020;

}

.container {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.styledButton {
    box-shadow: 0px -10px 0px rgba(0, 0, 0, .25) inset !important;
}